.react-calendar {
  border: none;
  font-size: 20px;
  width: 100%;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__month-view__days button {
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days button:focus {
  background-color: #0064ff !important;
  color: white;
}

.react-calendar__month-view__days button:disabled {
  background-color: white;
  color: #ababab;
}

.react-calendar__month-view__days abbr {
  padding-top: 3px;
}

.react-calendar__month-view__days__day--weekend:not(
    .react-calendar__month-view__days__day--neighboringMonth
  ) {
  color: black;
}

.running-day {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.today {
  border: 3px solid #4ed9c2 !important;
  background-color: lightgray;
  color: black;
}

.selected-day {
  background-color: #0064ff !important;
  color: white !important;
  font-weight: bold;
}
